<%- include("header2"); -%>

<body>

<% response.setHeader("Cache-Control", "no-cache, no-store, must-revalidate"); %>
<section class="articles">
  <div class="container-fluid">
    <form class="edit-box" action="/edit/<%= post._id  %>" method="post">
      <div class="edit-value">
        <div class="row">
          <div class="col-md-6">
            <label>Subject</label>
            <input type="text" name="subject" value="<%= post.subject %>" autocomplete="off" required>
          </div>
          <div class="col-md-6">
            <label>Year of study</label>
            <input type="text" name="year" value="<%= post.year %>" autocomplete="off" required>
          </div>
        </div>
        <label>Your article</label>
        <br>
        <textarea name="article" rows="8" cols="80" required><%= post.article %></textarea>
        <br>
        <input class="form-control" type="hidden" name="username" value="<%= post.username %>">
        </div>
        <button type="submit" class="btn">Publish</button>
    </form>
  </div>
</section>

<%- include("footer"); -%>
