<%- include("header4"); -%>
<section class="articles">
  <div class="container-fluid">
    <form class="compose-box" action="/compose/<%= username %>" method="post">
      <div class="compose-value">
        <div class="row">
          <div class="col-md-6">
            <input type="text" name="subject" autocomplete="off" placeholder="Enter subject name" required>
          </div>
          <div class="col-md-6">
            <input type="text" name="year" autocomplete="off" placeholder="Enter year of study" required>
          </div>
        </div>
        <br>
        <textarea name="article" rows="8" cols="80" placeholder="Enter your article here" required></textarea>
        <br>
        </div>
        <button type="submit" class="btn">Publish</button>
    </form>
    <div class="row">
      <% content.forEach(function(element){ %>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><%= element.subject %></h3>
            <h5 class="card-title"><%= element.username %></h5>
            <h5 class="card-title"><%= element.year %></h5>
            <p class="card-text"> <%= element.article.substring(0,100) +"...." %><a class="page" href="/posts/<%= element._id %>">Read More</a></p>
            <div class="row">
              <div class="col-md-6">
                <form class="edit" action="/edit" method="post">
                  <input type="hidden" name="id" value="<%= element._id %>"></input>
                  <button class="btn" type="submit" name="editButton">Edit <ion-icon name="create"></ion-icon></button>
                </form>
              </div>
               <div class="col-md-6">
                 <form class="delete" action="/delete/<%= element._id %>" method="post" onsubmit="return confirm('Are you sure?');">
                 <button class="btn" type="submit" name="deleteButton">Delete <ion-icon name="trash"></ion-icon></button>
               </form>
               </div>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</section>

<%- include("footer"); -%>
